@import '../../assets/vars.scss';

.list-container{
    display: flex;
    flex-direction: column;
    background-color: $blue-2;
    opacity: 0.85;
    border-radius: 1rem;
    max-height: 30rem;
    // min-height: 30rem;
    
    

    .players-list-info{
        display: flex;
        padding: 0 1rem;
        flex-direction: row-reverse;
        justify-content: space-between;
        

        .list-title-header{
            font-size: 2.5rem;
            font-weight: 500;
            color: $text;
        }

        .list-title-footer {
            font-size: 2rem;
            font-weight: 500;
            margin: 0 1rem;
            color: $blue-4;
        }
    }
    .list-footer {
        justify-content: center;
    }

    .players-list-items{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0 1rem;
        overflow-y: scroll;
        margin-right: 1rem;
        
        
        

        .players-list-item{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            font-size: 2rem;
            color: $text;
            background-color: $blue-4;
            margin: 1rem;
            opacity: 0.5;
            border-radius: 2rem;
            padding: .1rem 1rem;
            transition: all .1s;
            cursor: pointer;
            animation: fadeInFromBottom .3s ease;

            &:hover{
                background-color: red;
                opacity: 0.7;
            }
        }
        
    }

}

@keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }

    100%{
        transform: translateY(0);
    }

}