@import '../../assets/vars.scss';

.list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $blue-2;
    opacity: 0.85;
    border-radius: 1rem;
    max-height: 30rem;
    min-height: 30rem;
    overflow-y: scroll;
    
    

    .players-list-header{
        display: flex;
        width: 90%;
        flex-direction: row-reverse;
        justify-content: space-between;
        

        .list-title{
            font-size: 2.5rem;
            font-weight: 500;
            color: $text;
        }
    }

    .players-list-items{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        width: 90%;
        align-items: center;
        
        
        

        .players-list-item{
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            justify-content: space-between;
            font-size: 2rem;
            color: $text;
            background-color: $blue-4;
            margin: 1rem;
            opacity: 0.5;
            border-radius: 2rem;
            padding: .1rem 1rem;
            transition: all .1s;
            cursor: pointer;
            animation: fadeInFromBottom .3s ease;

            &:hover{
                background-color: red;
                opacity: 0.7;
            }
        }
        
    }
}

@keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }

    100%{
        transform: translateY(0);
    }

}