@import '../../assets/vars.scss';

.costum-select {
    width: 100%;
    background-color: $blue-3;
    border: none;
    opacity: 0.6;
    color: $text;
    height: 2.2rem;
    border-radius: 10rem;
    padding-left: .2rem;
    font-family: 'Rubik', sans-serif;
    font-size: 1.8rem;

    &:focus,
    &:active{
        outline: none;
        border: none;
    }

}
