@import '../../assets/vars.scss';

.results-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-header{
        margin: 4rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .results-title{
            color: $blue-1;
            font-size: 5rem;
            letter-spacing: .5;
            margin-bottom: 2rem;
        }
        h2{
            font-size: 3rem;
            color: $blue-2;
        }
    }

    &-teams{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        flex-wrap: wrap;
    }

    &-footer{
        // width: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 2rem 0;

            .icons-container {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    
                .icon-container {
                    margin-bottom: 1.5rem;
                    width: 50px;
                    height: 50px;
                    background-color: transparent;
                    opacity: 0.85;
                    outline: none;
                    padding: .5rem;
                    border: none;
                    border-radius: 1rem;
                    border: 2px solid $blue-1;
                    box-shadow: .5rem .5rem 2rem rgba($color: #000000, $alpha: 0.3);
                    transition: all .3s ;
                    
                    &:hover{
                        opacity: 1;
                    }

                    .result-icon {
                        width: 100%;
                        height: 100%;
                        fill: $blue-1;
                        background-color: transparent;
                    }

                    .copy-success{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
                        monospace;
                        font-size: 1.4rem;
                        width: 100%;
                        height: 100%;
                        color: $blue-3;
                        animation: slideIn .2s ease;
                        }
                    }
                }
    }
}


@keyframes slideIn {
    0% {
        transform: translateY(-3rem);
    }

    100% {
        transform: translateY(0);
    }
}