.Modal {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 500;
    background-color: transparent;
    height: 50vw;
    width: 50vh;
    left: 38%;
    top: 10%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.modal-container-enter {
    opacity: 0;
    transform: translateY(80rem);
}

.modal-container-enter-active{
    opacity: 1;
    transform: translateY(0);
    transition: all 200ms ease 100ms;
}

.modal-container-exit {
    opacity: 1;
}

.modal-container-exit-active {
    opacity: 0;
    transition: opacity 100ms;
}