@import '../../assets/vars.scss';

.sign-up {
    min-width: 30rem;
    min-height: 50rem;
    // background-image: url('../../assets/log-in.svg');
    background-color: $darker-red;
    background-size: contain;
    padding: 3rem;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 2.5rem;
    

    h1{
        margin-top: 3rem;
        font-size: 4rem;
        color: $text;
    }

    .sign-up-form{
        width: 100%;
    }

}