@import '../../assets/vars.scss';

.me-page-container {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;


    .me-page-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            color: $blue-1;
            font-size: 2rem;
            margin-bottom: 1rem;
            margin-right: 1rem;
            align-self: flex-end;
        }

    
        .teams-list {
            display: flex;
            list-style-type: none;
            flex-direction: column;
            min-height: 20rem;
            min-width: 40rem;
            max-width: 50rem;
            margin: 0 1rem 5rem 1rem;
            background-color: $blue-4;
            border-radius: 1.5rem;


            h3 {
                font-size: 1.8rem;
                padding: 0.5rem;
                color: $blue-4;
            }

            li {
                text-align: center;
                border-radius: 1rem;
                margin: 1rem;
                background-color: $blue-2;
                opacity: 0.5;
                transition: opacity .3s ;
                cursor: pointer;

                &:hover{
                    opacity: 1;
                }
            }
        }

        

    }
}