@import '../../assets/vars.scss';

.test {
    position: relative;
}

.header {
    width: 100%;
    height: 20vh;
    background-image: url('../../assets/header.svg');
    background-position: center;
    background-size: 120%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
        height: 300px;
        margin-top: 10rem;
        align-self: center;
    }

    &-sign{
        font-size: 2.5rem;
        color: $text;
        margin: 0 2rem;
        cursor: pointer;
        

        &-link{
            margin: 0 2rem;
            font-weight: 300;
            border-bottom: 1px solid transparent;
            transition: all .2s;
            
            &:hover{
                border-bottom: 1px solid white;
            }
        }
    }
}

