@import '../../assets/vars.scss';

.input-group{
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    // align-items: flex-end;
    margin: 3rem 0px;

    .form-input{
        // width: 100%;
        height: 2.5rem;
        border-radius: 100px;
        min-width: 25rem;
        border: none;
        background-color: $blue-1;
        padding-right: 1rem;

        &:hover,
        &:focus,
        &:active{
            outline: none;
            border: none;
        }

    }
    .form-input-label {
        align-self: flex-end;
        font-size: 2.2rem;
        color: white;
        font-weight: 300;
        margin-bottom: .2rem;
    }
}