@import '../../assets/vars.scss';

.costum-button {
    // width: 100%;
    min-height: 10px;
    max-width: 500px;
    height: auto;
    padding: .1rem 2rem;
    font-size: 3rem;
    background-color: $red;
    color: $text;
    border-radius: 1.5rem;
    border: 5px solid white;
    outline: none;
    transition: all .2s;
    cursor: pointer;
   

    &:hover,
    &:focus,
    &:active {
        outline: none;
    }

   &:hover {
       background-color: $darker-red;
       
   }

}
.big{
    font-size: 4rem;
}

.medium {
    font-size: 3rem;
}
 .small {
     font-size: 2.5rem;
 }

 .blue {
     background-color: $blue-4;
     color: $blue-1;
     border:none;
     min-width: 200px;
     &:hover{
         background-color: $darker-blue-4
     }
 }

 